@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--Almost-White, #E6E5EA);
    font-size: 24px;
    font-weight: 700;
}

h2 {
    color: var(--Grey, #817D92);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

h3 {
    color: var(--Almost-White, #E6E5EA);
    font-size: 16px;
    font-weight: 700;
}

.password-box {
    margin-top: 16px;
    width: 343px;
    height: 64px;
    background: var(--Dark-Grey, #24232C);
    padding: 17px 22px 15px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copied-txt {
    margin-left: 70px;
    font-size: 14px;
}

.password-parameters-box {
    margin-top: 16px;
    width: 343px;
    height: 423px;
    padding: 16px;
    background: var(--Dark-Grey, #24232C);
    display: flex;
    flex-direction: column;
}

.char-length-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.char-length-p {
    color: var(--Neon-Green, #A4FFAF);
    font-size: 24px;
}

.priceslider {
    margin-top: 18px;
    background: linear-gradient(
    90deg,
    #a4ffaf 0%,
    #a4ffaf 50%,
    #18171f 50%,
    #18171f 100%
    );
    /* background: var(--Neon-Green, #a4ffaf); */
    width: 311px;
    height: 8px;
    appearance: none;
}

.priceslider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    background: var(--Almost-White, #e6e5ea);
    width: 28px;
    height: 28px;
}

.parameters-div {
    margin-top: 26px;
}

.toggle {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
}

.checkbox-input {
    margin-right: 30px;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--Almost-White, #e6e5ea);
    position: absolute;
    background: var(--Dark-Grey, #24232c);
}
  
.checkbox-input:checked ~ .custom-checkbox {
    background-color: rgba(164, 255, 175, 1);
    background-image: url(/starter-code/assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.password-strength-div {
    margin-top: 32px;
    width: 311px;
    height: 56px;
    background: #18171F;
    padding: 17px 16px 14px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.strength-p {
    color: var(--Grey, #817D92);
    font-size: 16px;
    font-weight: 700;
}

.password-strength-scale-p {
    color: var(--Almost-White, #E6E5EA);
    font-size: 18px;
    font-weight: 700;
}

.password-strength-scale-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colored-rectangles-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rectangle {
    margin-left: 8px;
    width: 10px;
    height: 28px;
    border: 2px solid var(--Almost-White, #E6E5EA);
}

.generate-button {
    margin-top: 16px;
    width: 311px;
    height: 56px;
    border: none;
    background: var(--Neon-Green, #A4FFAF);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.generate-button {
    gap: 16px;
    color: var(--Dark-Grey, #24232C);
    font-family: JetBrains Mono;
    font-size: 16px;
}

.generate-p {
    margin-right: 16px;
    color: var(--Dark-Grey, #24232C);
    font-family: JetBrains Mono;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (min-width: 820px) and (max-width: 1440px){
    
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .password-box {
        width: 540px;
        height: 80px;
    }

    .copied-txt {
        margin-left: 200px;
        font-size: 18px;
    }

    .copy-img {
        width: 21px;
        height: 24px;
    }

    .password-parameters-box {
        margin-top: 24px;
        width: 540px;
        height: 528px;
        padding: 24px 32px 32px 32px;
    }

    .char-length-p {
        font-size: 32px;
    }

    .priceslider {
        width: 476px;
        height: 8px;
    }

    .parameters-div {
        margin-top: 30px;
    }

    .toggle {
        margin-top: 20px;
    }

    .password-strength-div {
        width: 476px;
        height: 72px;
    }

    .strength-p {
        font-size: 18px;
    }

    .password-strength-scale-p {
        font-size: 24px;
    }

    .generate-button {
        width: 476px;
        height: 65px;
        margin-top: 32px;
    }

    .generate-p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
     
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .password-box {
        width: 540px;
        height: 80px;
        padding: 19px 32px 19px 32px;
    }

    .copied-txt {
        margin-left: 170px;
        font-size: 18px;
    }

    .copy-img {
        width: 21px;
        height: 24px;
    }

    .password-parameters-box {
        margin-top: 24px;
        width: 540px;
        height: 528px;
        padding: 24px 32px 32px 32px;
    }

    .char-length-p {
        font-size: 32px;
    }

    .priceslider {
        width: 476px;
        height: 8px;
    }

    .priceslider::-webkit-slider-thumb:hover {
        background-color: var(--Very-Dark-Grey, #18171F);
        border: 2px solid var(--Neon-Green, #A4FFAF);    
        cursor: pointer;
    }

    .parameters-div {
        margin-top: 30px;
    }

    .copy-img:hover {
        cursor: pointer;
    }

    .toggle {
        cursor: pointer;
        margin-top: 20px;
    }

    .password-strength-div {
        width: 476px;
        height: 72px;
    }

    .strength-p {
        font-size: 18px;
    }

    .password-strength-scale-p {
        font-size: 24px;
    }

    .generate-button {
        margin-top: 32px;
        gap: 16px;
        color: var(--Dark-Grey, #24232C);
        font-family: JetBrains Mono;
        font-size: 16px;
        cursor: pointer;
        width: 476px;
        height: 65px;
    }

    .generate-button:hover {
        background: var(--Dark-Grey, #24232C);
        cursor: pointer;
        border: 2px solid var(--Neon-Green, #A4FFAF); 
        color: var(--Neon-Green, #A4FFAF);
        margin-right: 16px;
        font-family: JetBrains Mono;
        font-size: 16px;
        cursor: pointer;   
    }

}